.container-marcas,
.container-lancamentos,
.container-mais-vendidos {
    display: flex;
    justify-content: space-around;
}

.container {
    margin: 50px 200px;
}

.border {
    margin-top: 20px;
    width: 30%;
    border: solid 1px #333;
    height: 0;
}

.marcas,
.lancamentos,
.mais-vendidos {
    font-size: 30px;
}

.nav-marcas,
#card {
    display: flex;
    padding: 20px 50px;
    gap: 51px;
}

.card-marca img {
    width: 6vw;
}

.card-marca {
    display: flex;
    background-color: #f0f0f0;
    padding: 30px;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}

.carousel-card {
    display: flex;
    transition: transform 0.5s ease;
}

.btn-carrossel-card {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}

#prev-card {
    left: 0;
}

#next-card {
    right: 0;
}

.prod {
    margin: 0 70px;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw;
}

.cart-lancamentos, .cart {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
}

.img-prod img {
    width: 13vw;
}

.descri-prod {
    margin-top: 10px;
    font-size: 18   px;
    font-weight: bold;
}

.preco-back {
    margin-top: 5px;
    font-size: 15px;
    color: #ff0000;
}

.preco-next {
    margin: 10px 0;
    font-size: 30px;
    color: #008000;
    font-weight: bold;
}

.btn-comprar {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #00c000;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: .5s all;
    border: none;
}

.btn-comprar:hover {
    background-color: #008000;
    transition: .5s all;
    transform: translateY(-5px);
}